extends layout

block content
	.jumbotron
		h1.display-3 Welcome to NodeJS Gallery!
			p.
				This project demonstrates how to use NodeJS, MongoDB and community plugins to create a server-side JavaScript project. 
			p.  
				The following link leads to a github project that demonstrates how routes, models, CRUD operations, authentication and other features can be used to build an image uploader website. 
			
			a.btn.btn-primary.btn-lg(href='https://github.com/kovarmiko/gallery-nodejs', role='button') Visit Project
			


				