extends layout

block content
  .wrapper
    form.form-signin(action='', method='post', name='Login_Form')
      h3.form-signin-heading Welcome Back! Please Sign In
      hr.colorgraph
      br
      input.form-control(type='text', name='Username', placeholder='Username', required='', autofocus='')
      input.form-control(type='password', name='Password', placeholder='Password', required='')
      button.btn.btn-lg.btn-primary.btn-block(name='Submit', value='Login', type='Submit') Login
      br
      p Or you may wish to 
        a(href='/register') Register
