body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img.gallery-pic{
	max-width: 100%;
}

.align-right{
	text-align: right;
}

dl {
    margin-top: 20px;
}
